.slider-container {
    position: relative;
    height: 18px;
}

.slider-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    background: transparent;
    pointer-events: none;
    z-index: 2;
}

.slider-container input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #616161;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 3;
    transform: translateY(10%);
}